<%= render 'nav' %>
<main>
  <div class="min-h-screen flex items-center justify-center bg-gray-100">
    <!-- Edit Recipe Form -->
    <div class="bg-white px-16 py-10 -mx-9 rounded shadow-2xl w-1/3">
      <h2 class="text-3xl font-semibold mb-10 text-gray-600 tracking-wide">Edit Recipe</h2>
      <%= render "form", recipe: @recipe %>
    </div>
  </div>
</main>
